---
import Icon from "@components/common/Icon.astro"
---

<header class="h-16 flex flex-col justify-center px-5 border-b border-black/5 shrink-0">
  <div class="flex items-center gap-2">
    <div class="w-6 h-6 rounded-md flex items-center justify-center bg-amber-700">
      <Icon name="Pizza" width="12" height="12" color="white" />
    </div>
    <span class="font-barlow-condensed text-sm font-black uppercase tracking-wider">
      S&amp;S Pizza
    </span>
  </div>
  <p class="font-inter text-[10px] text-gray-400 pl-8">Support inbox</p>
</header>
