---
import '../styles/global.css';

import ClientHeader from '@components/ClientHeader.astro';
import ClientFooter from '@components/ClientFooter.astro';
import ModalWrapper from '@components/modals/ModalWrapper.astro';
import Register from '@components/modals/Register.astro';
import Chat from '@components/modals/Chat.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Stupid & Slow Pizza</title>
  </head>

  <body class="min-h-screen bg-taupe-50 text-taupe-800 flex flex-col">
    <ModalWrapper>
      <Register />
      <Chat />
    </ModalWrapper>

    <ClientHeader />
    <main class="flex-1 px-10 py-8">
      <slot />
    </main>
    <ClientFooter />
  </body>
</html>
