---
import AdminBaseLayout from "@layouts/AdminBaseLayout.astro"
---

<AdminBaseLayout title="Admin">
  <div class="flex-1 flex items-center justify-center">
    <div class="text-center">
      <p class="font-inter text-sm text-gray-400">Select a ticket to get started</p>
    </div>
  </div>
</AdminBaseLayout>
